@use '../function' as *;

.l-inner {
  width: $layout-width-inner + $pd-pc * 2;
  max-width: 100%;
  height: inherit;
  margin: 0 auto;
  padding-right: $pd-pc;
  padding-left: $pd-pc;

  @include mq("tab") {
    padding-right: $pd-tab;
    padding-left: $pd-tab;
  }

  @include mq("sp") {
    padding-right: $pd-sp;
    padding-left: $pd-sp;
  }
}


