@use "../function" as *;

.c-btn {
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10em;
  width: 400px;
  max-width: 100%;
  transition: all 0.3s ease 0s;

  @include hover;
}

.c-btn--primary {
  background: $cr-main;
  color: $cr-main;
  border-color: $cr-main;
}

.c-btn--secondary {
  background: $cr-accent;
  color: $cr-accent;
  border-color: $cr-accent;
}

