@use '../function' as *;

.c-sec-title {
  color: #333;
  font-size: 3rem;
  position: relative;
  padding-bottom: 10px;
  text-align: center;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 5rem;
    height: 4px;
    background: $cr-main;
  }
}
